 <div class="statistics">
  <%= render "statistics"%>
 </div>
<div class="container pt-5">
  <div class="d-flex justify-content-center">
    <div class="grids">
      <% @cells.each do |cell| %>
        <%= link_to game_cell_path(@game, cell), method: 'put', class: "cell cell-#{cell.content}", :remote => true do %>
          <div class="grid-category grid-category-<%= cell.content %>">
          <%= cell.content%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="text-center mt-5">
    <%= render "winner"%>
  </div>
</div>



